Package: sixarm-debian-perl-packages
Version: 1.0.2
Section: perl
Priority: optional
Architecture: all
Depends: libdatetime-perl, libdbi-perl, libdbd-mysql-perl, libclass-autouse-perl, libmd5-perl, libdigest-sha1-perl, libhtml-template-perl, libimage-size-perl, libmime-lite-perl, libcompress-zlib-perl, libnet-dns-perl, liburi-perl, libhtml-tagset-perl, libhtml-parser-perl, libwww-perl, libwww-perl, libgd-gd2-perl, libmailtools-perl, libunicode-maputf8-perl, libxml-simple-perl, libio-stringy-perl, libcaptcha-recaptcha-perl, libdigest-hmac-perl, libgd-graph-perl, libproc-process-perl, librpc-xml-perl, libsoap-lite-perl, libxml-rss-perl, libstring-crc32-perl, libxml-atom-perl, libmath-bigint-gmp-perl, liburi-fetch-perl, libcrypt-dh-perl, perlmagick, libclass-accessor-perl, libclass-trigger-perl, libclass-data-inheritable-perl, libgnupg-interface-perl, libmail-gnupg-perl, libtext-vcard-perl, libwww-curl-perl
Maintainer: Joel Parker Henderson <joel@sixarm.com>
Description:  Perl stack of pacakges we like to use together
 Perl packages we like to use together.

